<% if can? :create, @comment %>
  <%= @comment.errors.full_messages.join(", ") %>
  <%= form_for [@post, @comment], remote: true do |f| %>
    <div>
      <%= f.label :body, "Create Comment" %>
      <div><%= f.text_area :body %></div>
    </div>
    <%= f.submit %>
  <% end %>
<% end %>
