<h1><%= @post.title %></h1>

<h4>Category: <%= @post.category_title %></h4>

<p><%= @post.body %></p>

<div>
  <%= link_to "Edit Post", edit_post_path %> |
  <%= link_to "Delete Post",
  post_path(@post),
  method: :delete,
  data: {confirm: "Are you sure?"}  %>

</div>

<hr>
<h2>Comments</h2>

<%= form_for [@post, @comment] do |f| %>
  <div>
    <%= f.label :body, "Create Comment" %>
    <div><%= f.text_area :body %></div>
  </div>
  <%= f.submit %>
<% end %>

<ul>
  <% @post.comments.each do |comment| %>
    <li>
      <!-- How do I refactor this?  -->
      <strong><%= "#{comment.user.first_name}:" if comment.user %></strong>

      <%= comment.body %>

      <% if can? :destroy, comment %>
      <%= link_to "delete", post_comment_path(@post, comment),
                            method: :delete,
                            data: {confirm: "are you sure?"} %>
      <% end %>

    </li>
  <% end %>
</ul>

<hr>
<div><%= link_to "Back to Posts", posts_path %></div>
