<h1><%= @post.title %></h1>

<!-- Need to refactor this... -->
<h4>Posted by: <%= @post.user.first_name if @post.user %></h4>

<h4>Category: <%= @post.category_title %></h4>


<!-- Favorite -->
<div id="post-favorite">
  <%= render "/favorites/post_favorite" %>
</div>


<p><%= @post.body %></p>

<% if can? :manage, @post %>
  <div>
    <%= link_to "Edit Post", edit_post_path(@post) %> |
    <%= link_to "Delete Post",
    post_path(@post),
    method: :delete,
    data: {confirm: "Are you sure?"}  %>
  </div>
<% end %>

<hr>

<!-- Comment -->
<h2>Comments</h2>
<div id="comment-form">
  <%= render "/comments/form" %>
</div>

<ul id="comment-list">
  <% @post.comments.order("created_at DESC").each do |com| %>
    <%= render "/comments/comment", comment: com %>
  <% end %>
</ul>


<hr>
<div><%= link_to "Back to Posts", posts_path %></div>
