<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar">
  <%= link_to "Home", root_path %>
  <%= link_to "About", about_path  %>
  <%= link_to "Posts", posts_path  %>

  <% if user_signed_in? %>
    <%= link_to current_user_first_name, user_path(current_user) %>
    <%= link_to "Favorites", favorites_path %>
    <%= link_to "Logout", sessions_path,
          method: :delete,
          data: {confirm: "Are you sure you want to logout?"} %>
  <% else %>
    <%= link_to "Sign up", new_user_path %>
    <%= link_to "Login", new_session_path %>
  <% end %>

</div>

<div class="flash-message">
  <%= alert || notice %>
</div>

<%= yield %>

</body>
</html>
